<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>eel418.tempoclimanet02.IniciadorContexto</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletTeste</servlet-name>
        <servlet-class>eel418.tempoclimanet02.ServletTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeiroAcesso</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.PrimeiroAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarTodosResultadosPorDatahora</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.BuscarTodosResultadosPorDatahora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMedAutAnterior</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.BuscarMedAutAnterior</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMedAutProxima</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.BuscarMedAutProxima</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarObsAnterior</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.buscarObsAnterior</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarObsProxima</servlet-name>
        <servlet-class>eel418.tempoclimanet02.servlets.buscarObsProxima</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTeste</servlet-name>
        <url-pattern>/ServletTeste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeiroAcesso</servlet-name>
        <url-pattern>/PrimeiroAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarTodosResultadosPorDatahora</servlet-name>
        <url-pattern>/buscarTodosResultadosPorDatahora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMedAutAnterior</servlet-name>
        <url-pattern>/buscarMedAutAnterior</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMedAutProxima</servlet-name>
        <url-pattern>/buscarMedAutProxima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarObsAnterior</servlet-name>
        <url-pattern>/buscarObsAnterior</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarObsProxima</servlet-name>
        <url-pattern>/buscarObsProxima</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PrimeiroAcesso</welcome-file>
    </welcome-file-list>
</web-app>
